/.dart_tool/
/.idea/
/build/
/.vscode/

/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.idea/.wiseGPT/
/ios/Podfile
/pubspec.lock

# Env files
*.env
.env.*

# OS
.DS_Store

# Logs
*.log
*.tmp

.vercel
.env*.local
